src/main/mule/cicd-connected-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ed9b2138-d30c-4bc4-ab27-7fdf7facde97" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-connected-appFlow" doc:id="652f5a58-11e0-4a3a-b76e-db4f2610bf45" >
		<http:listener doc:name="Listener" doc:id="d527d8d6-bf01-4c40-9684-aa9fd81c8d5a" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="5d7026d2-fe10-42e0-913f-fe29fd1151e9" message="flow start"/>
		<ee:transform doc:name="Transform Message" doc:id="8687ef21-d3d3-416b-8edf-34b6b58f2cc9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"cicd auto deployment successfull"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b787e1a1-238e-4c56-b57f-90953e67d01d" message="#[payload]"/>
	</flow>
</mule>
